version: '3.8'
services:
  db:
    image: postgres:15
    container_name: sales_buddy_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: salesbuddy
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: