:root {
    /* Colors: */
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-074a82: #074A82;
    --unnamed-color-a32c65: #A32C65;

    /* Font/text values */
    --unnamed-font-family-montserrat: Montserrat;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-15: 15px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-19: 19px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Character Styles */
.unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-montserrat);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-15);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-074a82);
}

.body {
    background-image: url('assets/icBackground.png');
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.bodyLogin {
    background-image: url('assets/icBackground.png');
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Login Page Styles */
.logoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    & #icLogo {
        margin-top: 8%;
        width: 250px;
        height: 90px;
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    gap: 10px;
}

.inputLogin {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    font-weight: normal;
    border-color: #0000000D;
    width: 250px;
    height: 40px;
}

.inputLogin::placeholder {
    padding-left: 15px;
    color: #074A82;
}

.buttonLogin {
    background: #A32C65 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000D;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 12%;
    color: #FFFFFF;
    width: 180px;
    height: 43px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

#navForgetPassword {
    color: #074A82;
    text-decoration: none;
}

/* Menu Styles */
.logoMenu {
    width: 200px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 4%;
    background-color: white;
}

.listMenu {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 50px;
    letter-spacing: 0px;
}

.divMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.optionsMenuChosed {
    font-weight: normal;
    color: #074A82;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 20px;
    font-style: normal;
}

.optionsMenu {
    font-weight: normal;
    color: #A32C65;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* List of Users Styles */
.containerList {
    padding: 3%;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
}

.tableUsersList {
    width: 100%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.6);

    & td {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
}

.txViewHeader {
    color: #707070;
}

.txViewTable {
    color: #707070;
    font-weight: 400;
    padding-bottom: 15px;
}

.buttonUserContainer {
    flex-direction: row-reverse;
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    gap: 15px;
}

.buttonAddUser {
    background-color: #074A82;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: none;
}

.txAddUser {
    background-color: white;
    border-radius: 5px;
    font-weight: 900;
    color: #074A82;
    border: 2px solid #074A82;
    height: 40px;
    padding: 10px;
}

.buttonEditUser {
    background-color: #074A82;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;

    & img {
        width: 22px;
    }
}

.txEditUser {
    border-radius: 5px;
    font-weight: 600;
    height: 10px;
    padding: 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    display: flex;
    background-color: white;
    color: #074A82;
    border: 2px solid #074A82;
}

.buttonDeleteUser {
    background-color: #707070;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: none;
}

.txDeleteUser {
    background-color: #B7B7B7;
    border-radius: 5px;
    font-weight: 900;
    color: #707070;
    border: 2px solid;
    height: 40px;
    padding: 10px;
}

.icEditUser {
    padding-right: 35vh;
}

.txViewUser {
    color: #074A82;
    font-weight: 600;
}

.txViewUsersSales {
    color: #A32C65;
}

.txViewIdName {
    color: #A32C65;
    font-weight: 800;
    letter-spacing: 0.1px;
}

/* Add New User Page Styles */

.formAddUser {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 5%;
}

.divAddUser {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;

    & label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        width: 100px;
        color: #707070;
        text-align: left;
    }
}

.inputAddUser {
    width: 400px;
    height: 30px;
    border: none;
    box-shadow: 0px 3px 6px #0000000D;
}

.container {
    width: 100%;
    padding: 4%;
    margin: 3%;
    background-color: rgba(255, 255, 255, 0.6);
}

.headerImg {
    gap: 30px;
    display: flex;

    & h3 {
        color: #074A82;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
    }
}