* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url('assets/icBackground.png');
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.bodyModalOpen {
    filter: blur(5px);
}

.bodyLogin {
    background-image: url('assets/icBackground.png');
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Login Page Styles */
.logoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    & #icLogo {
        margin-top: 8%;
        width: 250px;
        height: 90px;
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    gap: 10px;
}

.inputLogin {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    font-weight: normal;
    border-color: #0000000D;
    width: 250px;
    height: 40px;
    color: #A32C65;
    padding: 8px;
}

.inputLogin::placeholder {
    padding-left: 8px;
    color: #074A82;
}

.buttonLogin {
    background: #A32C65 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000D;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 12%;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 43px;
    font-size: 14px;
    font-weight: 700;
}

#navForgetPassword {
    color: #074A82;
    text-decoration: none;
}

/* Menu Styles */
.logoMenu {
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 18%;
    height: 100%;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 4%;
    background-color: white;
}

.listMenu {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 50px;
    letter-spacing: 0px;
}

.divMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.imgMenu {
    width: 4vh;
}

.optionsMenuChosed {
    color: #074A82;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

.optionsMenu {
    font-weight: normal;
    color: #A32C65;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

/* List of Users Styles */
.containerList {
    padding: 3%;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
}

.icEditUser {
    width: 20px;
}

.checkbox {
    /* Remove aparência padrão do navegador. */
    appearance: none;
    -webkit-appearance: none;

    width: 15px;
    height: 15px;
    border: 1px solid, #707070;
    border-radius: 3px;
}

.tableUsersList {
    width: 100%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.6);

    & td {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
}

.txViewHeader {
    color: #707070;
    padding: 8px 10px 15px 0px;
}

.txViewTable {
    color: #707070;
    font-weight: 400;
    padding-bottom: 15px;
}

.buttonUserContainer {
    flex-direction: row-reverse;
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    gap: 15px;
}

/* Buttons Styles */

.buttonActiveUser {
    background-color: #074A82;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: none;

    & img {
        width: 22px;
    }
}

.txActiveUser {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #074A82;
    border: 1px solid #074A82;
    border-radius: 3px;
    font-weight: 600;
    height: 40px;
    padding: 20px;
    font-size: 14px;
}

.buttonInactiveUser {
    background-color: #707070;
    border: none;
    border-radius: 3px;
    width: 40px;
    height: 40px;
}

.txInactiveUser {
    background-color: #B7B7B7;
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    padding: 10px;
}

.txViewUser {
    color: #074A82;
    font-weight: 600;
}

.txViewUsersSales {
    color: #A32C65;
    padding-right: 8px;
}

.txViewIdName {
    color: #A32C65;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.txViewHeaderItens {
    display: flex;
    align-items: center;
}

.textCenter {
    text-align: center;
    vertical-align: middle;
}

/* Add New User Page Styles */

.formAddUser {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 5%;
}

.divAddUser {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;

    & label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        width: 100px;
        color: #707070;
        text-align: left;
    }
}

.inputAddUser {
    width: 400px;
    height: 30px;
    color: #A32C65;
    padding: 8px;
    border: none;
    box-shadow: 0px 3px 6px #0000000D;
}

.container {
    width: 100%;
    padding: 4%;
    margin: 3%;
    background-color: rgba(255, 255, 255, 0.6);
}

.headerImg {
    gap: 15px;
    display: flex;
    align-items: center;

    & h3 {
        color: #074A82;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
    }
}

/* Confirm Delete Styles */

.backgroundModalDelete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 3px #888;
}

.spanModalDelete {
    color: #A32C2C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    padding: 8px 0px 8px 0px;
}

.usersList {
    display: list-item;
    list-style-type: none;
    padding-top: 13px;
    padding-bottom: 13px;

    & li {
        color: #A32C2C;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        display: flex;
    }
}

.modalActions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0px 0px 0px;
    gap: 10px;
}

.btnYes {
    background-color: #408140;
    border-radius: 5px;
    color: white;
    padding: 7px;
    width: 115px;
    height: 45px;
    border: none;
}

.btnNo {
    background-color: #A32C2C;
    border-radius: 5px;
    color: white;
    padding: 7px;
    width: 115px;
    height: 45px;
    border: none;
}