.body {
    background-image: url('assets/icBackground.png');
    width: 100%;
    height: 100vh;
}

:root {
    /* Colors: */
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-074a82: #074A82;
    --unnamed-color-a32c65: #A32C65;

    /* Font/text values */
    --unnamed-font-family-montserrat: Montserrat;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-15: 15px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-19: 19px;
}

/* Character Styles */
.unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-montserrat);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-15);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-074a82);
}

.logoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    & #icLogo {
        margin-top: 8%;
        width: 250px;
        height: 90px;
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    gap: 10px;
}

.inputLogin {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-weight: normal;
    border-color: #0000000D;
    width: 250px;
    height: 35px;
}

.inputLogin::placeholder {
    padding-left: 15px;
    color: #074A82;
}

.buttonLogin {
    background: #A32C65 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000D;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 2%;
    color: #FFFFFF;
    width: 180px;
    height: 43px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

#navForgetPassword {
    color: #074A82;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100vh;
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 4%;
    background-color: white;
}

.listMenu {
    margin-right: 10px;
    padding-left: 1px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;

}

.divMenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.optionsMenuChosed {
    font-weight: normal;
    color: #074A82;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.optionsMenu {
    font-weight: normal;
    color: #A32C65;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}